@import "../../styles/main.scss";

.list {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow: auto;
    -ms-overflow-style: 0;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

.list-item {
    font-size: 18pt;
    display: flex;
    padding: 1em;
    border-bottom: 1px solid rgb(230, 230, 230);
    max-width: 100%;

    &:last-child {
        margin-bottom: 4rem;
    }

    .list-item-name {
        position: relative;
        flex-grow: 1.0;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px;

        &::before {
            position: absolute;
            content: '';
            width: 0%;
            height: 3px;
            top: 50%;
            background-color: $color-primary;
            transform: rotate(-1deg);
            transition: 0.5s ease-in-out;
        }

        &.strike {
            &::before {
                width: 95%;
            }
        }
    }
}